/* BathyScaphe Help Style Sheet */
/* For Leopard and Snow Leopard Help Viewer -- actually, it uses the Webkit! -- */
/* 2010-10-24 */

body {
	font-family: Lucida Grande;
	font-size: 70%;
	line-height: 160%;
	margin: 0 0 1em 0;
	padding: 0;
}

#contents {
	margin: 3em 3% 0 3%;
}

h1 {font-size: 130%; margin: 1em 0;}
h2 {font-size: 100%; line-height: 110%; margin-top: 1.5em; margin-bottom: 0.5em; clear: both;}
h3 {font-size: 100%; line-height: 110%;}

ol {
	padding: 1em 2em 0.5em 3em;
	margin: auto 0;
	border: 1px solid #cccccc;
/*	background-color: #e6edff;*/
	background-color: white;
	clear: both;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-box-shadow: 1px 2px 4px #cccccc;
}

ul {
	list-style-type: square;
	padding: 1em 2em 0.5em 2em;
	margin: auto 0;
	border: 1px solid #cccccc;
/*	background-color: #e6edff;*/
	background-color: white;
	clear: both;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-box-shadow: 1px 2px 4px #cccccc;
}

ul ul, ul ol, ol ul {
	padding: 0 3em;
	margin: 0.5em 0;
	border: none;
	-webkit-box-shadow: none;
}

ul + ul, ol + ol, ul + ol, ol + ul {
	margin-top: 1em;
	-webkit-box-shadow: none;
}

ul.topicbox {
	background-color: white;
	border: 1px dotted #999999;
}

ul.rel_items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: none;
	background-color: white;
/*	font-size: 90%;*/
	-webkit-box-shadow: none;
}

p.point {
	padding: 1em 2em 1em 1.5em;
	margin: auto -1%;
	border: 1px solid #cccccc;
	background-color: #e6edff;
}

li {margin-bottom: 0.5em;}

em {font-weight: bold; font-style: normal;}


p#relbar {text-align: right;}

.figmarker { font-weight: bold; color: red;}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: -2px 6px 0;
	border-bottom: 1px solid #939393;
	background-color: #dddddd;
	background-repeat: no-repeat;
	float: left;
	font-size: 85%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#d1d1d1), color-stop(0.5, #d1d1d1));
	-webkit-background-origin: border;
}

#home {
	position: absolute;
	top: 2px;
	left: 10px;
	text-shadow: #FFFFFF 0px 1px 0;  
}

#index {
	top: 2px;
	right: 12px;
	width: auto;
	padding: 2px 25px 1px 8px;
	background-color: #dddddd;
/*	border-left: 1px solid #bfbfbf;*/
	float: right;
	text-shadow: #FFFFFF 0px 1px 0;  
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#d1d1d1), color-stop(0.5, #d1d1d1));
	-webkit-background-origin: border;
}

img {
	margin-left: 1px;
	margin-right: 1px;
}

img.stickedimg_left {
	float: left;
	margin-top: 0;
	margin-left: 0;
	margin-right: 1em;
	margin-bottom: 1em;
}

img#h1icon {
	margin-top: 0;
	margin-left: 0;
	margin-right: 8px;
	margin-bottom: -8px;
}

div.topic_box {
/*	min-height: 220px ;*/
	border: solid 1px #ccc;
	padding: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-box-shadow: 1px 2px 4px #cccccc;
}

div.topic_box + div.topic_box {
	margin-top: 1.5em;
}

div.topic_box h2 {
	margin: 0;
	padding: 3px 0.5em;
/*	background-color: #e6edff;*/
}

div.topic_box p {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/*
div.topic_box img {
	margin-right: 1.5em;
}
*/

div.topic_box ul, div.topic_box ol {
	margin-top: 1em;
	margin-left: 0.5em; /*170px;*/
	padding-top: 0;
	border: none;
	background: none;
	clear: none;
	-webkit-box-shadow: none;
}

div.topic_box ul.with_img, div.topic_box ol.with_img {
	margin-left: 170px;
}

div.topic_box ul {
	list-style-image: url("../gfx/orngbullet@2x.png");
}

a {
        text-decoration : none ;
        color: #3366cc;
}

a:hover {
        text-decoration : underline ;
}

/* BathyScaphe のヘルプボタンクリックによる特定ページ呼び出しのために仕込むアンカーについては、
   hover 時にも text-decoration を適用させない */
a.nshelpmanageranchor {
	color: black;
}

a.nshelpmanageranchor:hover {
    text-decoration : none;
}

div#home a {
	color: black;
}

div#index a {
	color: black;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
}

tr {
}

th {
    text-align: left;
    vertical-align: top;
    background: #999;
    color: white;
    padding: 3px 4px;
}

th:first-child {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

th:last-child {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}


td {
    text-align: left;
    vertical-align: top;
    padding: 1em 1em 1em 4px;
    border-bottom: solid #CCC 1px;
    width: 50%;
}

pre {
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    border: solid gray 1px;
}